--
-- PostgreSQL database dump
--

\restrict v494T6nOQHnaSisat7eyirJ9dsg5VDmgGlVZSrPNxb8zK4WJK8hWxhal9pYqlAC

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categoria (id, nombre, descripcion) FROM stdin;
1	Aseo	Productos de limpieza y aseo
2	Comestibles	Alimentos y bebidas
3	Electrodomésticos	Aparatos eléctricos
\.


--
-- Data for Name: producto; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.producto (id_producto, cantidad, codigo, nombre_producto, precio, categoria_id) FROM stdin;
810	30	789456	Galletas Oreo	1500	2
811	5	789546221	Microondas	250000	3
812	60	412453	Manzana	800	2
809	199	794563	Suavitel	12345	1
813	80	12456321	papas	2000	2
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuario (id, contrasena, nom_usuario, rol) FROM stdin;
1	$2a$10$ev6Lx6KYVmOU9whqCP.EsuSGVGUd1xoGha8NBvLZVZcsCRAFKhzKa	admin	ADMIN
2	$2a$10$ev6Lx6KYVmOU9whqCP.EsuSGVGUd1xoGha8NBvLZVZcsCRAFKhzKa	vendedor	VENDEDOR
\.


--
-- Name: categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categoria_id_seq', 3, true);


--
-- Name: categoria_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categoria_seq', 1, false);


--
-- Name: producto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.producto_seq', 851, true);


--
-- Name: usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuario_id_seq', 2, true);


--
-- Name: usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuario_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict v494T6nOQHnaSisat7eyirJ9dsg5VDmgGlVZSrPNxb8zK4WJK8hWxhal9pYqlAC

